:root {
  @each $group-name, $color-group in $colors {
    @if $group-name == 'brand-colors' {
      @each $name, $color in $color-group {
        --#{$name}: #{$color};
      }
    }
  }

  /* Shodows */
  --box-shadow: 0 4px 0 0;
  --box-shadow-small: 0 2px 0 0;
  --box-shadow-hover: 0 3px 0 0;
  --box-shadow-active: 0 1px 0 0;

  // Motion Variables
  --transition-1: all 1s var(--transition-cb);
  --transition-2: all 2s var(--transition-cb);
  --transition-cb: cubic-bezier(0, 0.48, 0.19, 1.01);
}
