:root {
  --primary: #2de69c;
  --secondary: #9fc0d8;
  /* Shodows */
  --box-shadow: 0 4px 0 0;
  --box-shadow-small: 0 2px 0 0;
  --box-shadow-hover: 0 3px 0 0;
  --box-shadow-active: 0 1px 0 0;
  --transition-1: all 1s var(--transition-cb);
  --transition-2: all 2s var(--transition-cb);
  --transition-cb: cubic-bezier(0, 0.48, 0.19, 1.01);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
li,
figure,
figcaption,
table,
fieldset,
legend,
form,
label,
input,
select,
button,
textarea,
article,
aside,
details,
summary,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: transparent;
}

mark,
ins {
  background-color: #ff9;
  color: #000;
}

mark {
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

input,
select {
  vertical-align: middle;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: inherit;
  border-radius: 0;
  box-shadow: none;
}

/* Accessibility */
.using-mouse:focus:before, .using-mouse:active:before {
  border: none !important;
  -webkit-animation: none !important;
          animation: none !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}
@media all and (min-width: 768px) {
  .container {
    max-width: 990px;
  }
}
@media all and (min-width: 1024px) {
  .container {
    max-width: 1280px;
    padding: 0 64px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 100px;
}
@media all and (min-width: 768px) {
  .row {
    margin: 0 -8px;
  }
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin: 8px 0;
  min-height: 100px;
}

@media all and (min-width: 768px) {
  .col-1 {
    width: calc(8.3333333333% - 16px);
    margin: 8px 8px;
  }
}
.col-1::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-1 {
    margin-left: calc(8.3333333333% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-2 {
    width: calc(16.6666666667% - 16px);
    margin: 8px 8px;
  }
}
.col-2::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-2 {
    margin-left: calc(16.6666666667% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-3 {
    width: calc(25% - 16px);
    margin: 8px 8px;
  }
}
.col-3::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-3 {
    margin-left: calc(25% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-4 {
    width: calc(33.3333333333% - 16px);
    margin: 8px 8px;
  }
}
.col-4::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-4 {
    margin-left: calc(33.3333333333% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-5 {
    width: calc(41.6666666667% - 16px);
    margin: 8px 8px;
  }
}
.col-5::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-5 {
    margin-left: calc(41.6666666667% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-6 {
    width: calc(50% - 16px);
    margin: 8px 8px;
  }
}
.col-6::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-6 {
    margin-left: calc(50% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-7 {
    width: calc(58.3333333333% - 16px);
    margin: 8px 8px;
  }
}
.col-7::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-7 {
    margin-left: calc(58.3333333333% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-8 {
    width: calc(66.6666666667% - 16px);
    margin: 8px 8px;
  }
}
.col-8::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-8 {
    margin-left: calc(66.6666666667% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-9 {
    width: calc(75% - 16px);
    margin: 8px 8px;
  }
}
.col-9::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-9 {
    margin-left: calc(75% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-10 {
    width: calc(83.3333333333% - 16px);
    margin: 8px 8px;
  }
}
.col-10::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-10 {
    margin-left: calc(83.3333333333% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-11 {
    width: calc(91.6666666667% - 16px);
    margin: 8px 8px;
  }
}
.col-11::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-11 {
    margin-left: calc(91.6666666667% + 8px) !important;
  }
}
@media all and (min-width: 768px) {
  .col-12 {
    width: calc(100% - 16px);
    margin: 8px 8px;
  }
}
.col-12::after {
  content: "";
  display: block;
  background: var(--primary);
  min-height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media all and (min-width: 768px) {
  .offset-12 {
    margin-left: calc(100% + 8px) !important;
  }
}
@font-face {
  font-family: proximanova-light;
  src: url("../resources/fonts/proximanova/proximanova-light-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-light-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-light-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-light-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-light-webfont.svg#proximanova") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: proximanova-lightit;
  src: url("../resources/fonts/proximanova/proximanova-lightit-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-lightit-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-lightit-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-lightit-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-lightit-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-lightit-webfont.svg#proximanova") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: proximanova-regular;
  src: url("../resources/fonts/proximanova/proximanova-regular-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-regular-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-regular-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-regular-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-regular-webfont.svg#proximanova") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: proximanova-medium;
  src: url("../resources/fonts/proximanova/proximanova-medium-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-medium-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-medium-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-medium-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-medium-webfont.svg#proximanova") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: proximanova-semibold;
  src: url("../resources/fonts/proximanova/proximanova-semibold-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-semibold-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-semibold-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-semibold-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-semibold-webfont.svg#proximanova") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: proximanova-bold;
  src: url("../resources/fonts/proximanova/proximanova-bold-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-bold-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-bold-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-bold-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-bold-webfont.svg#proximanova") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: proximanova-extrabold;
  src: url("../resources/fonts/proximanova/proximanova-extrabold-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-extrabold-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-extrabold-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-extrabold-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-extrabold-webfont.svg#proximanova") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: proximanova-black;
  src: url("../resources/fonts/proximanova/proximanova-black-webfont.eot");
  src: url("../resources/fonts/proximanova/proximanova-black-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/proximanova/proximanova-black-webfont.woff2") format("woff2"), url("../resources/fonts/proximanova/proximanova-black-webfont.woff") format("woff"), url("../resources/fonts/proximanova/proximanova-black-webfont.ttf") format("truetype"), url("../resources/fonts/proximanova/proximanova-black-webfont.svg#proximanova") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
.font-proximanova--light {
  font-family: proximanova-light, Gotham, Montserrat, Trebuchet, sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
.font-proximanova--lightit {
  font-family: proximanova-lightit, Gotham, Montserrat, Trebuchet, sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
.font-proximanova--regular {
  font-family: proximanova-regular, Arial, sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
.font-proximanova--medium {
  font-family: proximanova-medium, Arial, sans-serif;
  font-weight: 500;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
.font-proximanova--semibold {
  font-family: proximanova-semibold, Arial, sans-serif;
  font-weight: 600;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
.font-proximanova--bold {
  font-family: proximanova-bold, Arial, sans-serif;
  font-weight: 700;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
.font-proximanova--extrabold {
  font-family: proximanova-extrabold, Arial, sans-serif;
  font-weight: 800;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}
.font-proximanova--black {
  font-family: proximanova-black, Arial, sans-serif;
  font-weight: 900;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

.text-10,
.text-10 *,
.text-10:is(p, ul, ol),
.text-10:is(h1, h2, h3, h4, h5, h6) {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 10px;
  line-height: 0.625rem;
}

.text-12,
.text-12 *,
.text-12:is(p, ul, ol),
.text-12:is(h1, h2, h3, h4, h5, h6) {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 12px;
  line-height: 0.75rem;
}

.text-14,
.text-14 *,
.text-14:is(p, ul, ol),
.text-14:is(h1, h2, h3, h4, h5, h6) {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
}

.text-16,
.text-16 *,
.text-16:is(p, ul, ol),
.text-16:is(h1, h2, h3, h4, h5, h6) {
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
}

.text-18,
.text-18 *,
.text-18:is(p, ul, ol),
.text-18:is(h1, h2, h3, h4, h5, h6) {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.text-20,
.text-20 *,
.text-20:is(p, ul, ol),
.text-20:is(h1, h2, h3, h4, h5, h6) {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.text-24,
.text-24 *,
.text-24:is(p, ul, ol),
.text-24:is(h1, h2, h3, h4, h5, h6) {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 25px;
  line-height: 1.5625rem;
}

.text-28,
.text-28 *,
.text-28:is(p, ul, ol),
.text-28:is(h1, h2, h3, h4, h5, h6) {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
}
@media all and (min-width: 1024px) {
  .text-28,
.text-28 *,
.text-28:is(p, ul, ol),
.text-28:is(h1, h2, h3, h4, h5, h6) {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
}

.text-32,
.text-32 *,
.text-32:is(p, ul, ol),
.text-32:is(h1, h2, h3, h4, h5, h6) {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 30px;
  line-height: 1.875rem;
}
@media all and (min-width: 1024px) {
  .text-32,
.text-32 *,
.text-32:is(p, ul, ol),
.text-32:is(h1, h2, h3, h4, h5, h6) {
    font-size: 32px;
    font-size: 2rem;
    line-height: 32px;
    line-height: 2rem;
  }
}

.text-36,
.text-36 *,
.text-36:is(p, ul, ol),
.text-36:is(h1, h2, h3, h4, h5, h6) {
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2rem;
}
@media all and (min-width: 1024px) {
  .text-36,
.text-36 *,
.text-36:is(p, ul, ol),
.text-36:is(h1, h2, h3, h4, h5, h6) {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 35px;
    line-height: 2.1875rem;
  }
}

.text-44,
.text-44 *,
.text-44:is(p, ul, ol),
.text-44:is(h1, h2, h3, h4, h5, h6) {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 36px;
  line-height: 2.25rem;
}
@media all and (min-width: 1024px) {
  .text-44,
.text-44 *,
.text-44:is(p, ul, ol),
.text-44:is(h1, h2, h3, h4, h5, h6) {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 42px;
    line-height: 2.625rem;
  }
}

.text-52,
.text-52 *,
.text-52:is(p, ul, ol),
.text-52:is(h1, h2, h3, h4, h5, h6) {
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 43px;
  line-height: 2.6875rem;
}
@media all and (min-width: 1024px) {
  .text-52,
.text-52 *,
.text-52:is(p, ul, ol),
.text-52:is(h1, h2, h3, h4, h5, h6) {
    font-size: 56px;
    font-size: 3.5rem;
    line-height: 56px;
    line-height: 3.5rem;
  }
}

.text-62,
.text-62 *,
.text-62:is(p, ul, ol),
.text-62:is(h1, h2, h3, h4, h5, h6) {
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 43px;
  line-height: 2.6875rem;
}
@media all and (min-width: 1024px) {
  .text-62,
.text-62 *,
.text-62:is(p, ul, ol),
.text-62:is(h1, h2, h3, h4, h5, h6) {
    font-size: 62px;
    font-size: 3.875rem;
    line-height: 58px;
    line-height: 3.625rem;
  }
}

.text-94,
.text-94 *,
.text-94:is(p, ul, ol),
.text-94:is(h1, h2, h3, h4, h5, h6) {
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 32px;
  line-height: 2rem;
}
@media all and (min-width: 1024px) {
  .text-94,
.text-94 *,
.text-94:is(p, ul, ol),
.text-94:is(h1, h2, h3, h4, h5, h6) {
    font-size: 94px;
    font-size: 5.875rem;
    line-height: 90px;
    line-height: 5.625rem;
  }
}

.text-color--primary {
  color: var(--primary);
}
.text-color--secondary {
  color: var(--secondary);
}

.background-color--primary {
  background-color: var(--primary);
}
.background-color--secondary {
  background-color: var(--secondary);
}