$directory: '../resources/fonts';

// Mixin to generate font-face
@mixin font-face($font-family, $weights, $directory, $webfont: false) {
  @each $weight, $weight-value in $weights {
    $font-name: #{$font-family}-#{$weight};
    $font-path: '#{$directory}/#{$font-family}/#{$font-family}-#{$weight}';

    @if $font-family == 'proximanova' and $webfont {
      $font-path: '#{$font-path}-webfont';
    }

    @font-face {
      font-family: #{$font-name};
      src: url('#{$font-path}.eot');
      src:
        url('#{$font-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff'),
        url('#{$font-path}.ttf') format('truetype'),
        url('#{$font-path}.svg##{$font-family}') format('svg');
      font-weight: $weight-value;
      font-style: if($weight == 'lightit', italic, normal);
      font-display: if($weight == 'light', swap, auto);
    }
  }
}

// Apply font-face mixin for both font families
@include font-face('proximanova', map-get($font-weights, 'proximanova'), $directory, true);
