@use 'sass:map';

@mixin dev-only {
  @if $env == development {
    @content;
  }
}

// Media Queries
@function bp($key) {
  @return map-get($breakpoints, $key);
}

@mixin tablet {
  @media all and (min-width: #{bp(tablet)}) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: #{bp(desktop)}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-device-width: #{bp(tablet)}) and
         (max-device-width: #{bp(desktop)}) and
         (orientation: landscape) and
         (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

@mixin tablet-only {
  @media all and (min-width: #{bp(tablet)}) and (max-width: #{bp(desktop)}) {
    @content;
  }
}

// Fonts
@mixin proximanova($weight) {
  $weight-value: map.get(map.get($font-weights, 'proximanova'), $weight);

  @if $weight == 'light' or $weight == 'lightit' {
    font-family: proximanova-#{$weight}, Gotham, Montserrat, Trebuchet, sans-serif;
  } @else {
    font-family: proximanova-#{$weight}, Arial, sans-serif;
  }

  font-weight: $weight-value;
  text-size-adjust: none;
}
